*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Noto Sans', sans-serif;
}
.img-div{
   width: 65%;
   height: 100vh;
   background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.2)), url(./images/monitor-1307227_1280.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   opacity: .7;
   position: fixed;
   float: left;
}

.reg-div{
   width: 35%;
   padding: 40px;
   float: right;
}
.title{
   text-align: center;
}
.title h1{
   font-size: 60px;
   font-weight: bolder;
}
.reg-details{
   margin-top: 50px;
}
.reg-details .input{
   display: block;
   margin-top: 30px;
   font-size: 20px;
   width: 100%;
}
.reg-details .input label{
   display: block;
   margin-bottom: 3px;
   color: rgb(63, 63, 63);
}
.reg-details .input input{
   padding: 5px 0;
   border: none;
   border-bottom: 1px solid rgba(41, 41, 41, 0.5);
   outline: none;
   font-size: 15px;
   width: 100%;
   background-color: transparent;
}
::placeholder{
   opacity: .4;
}
.reg-details .input input:focus{
   border-bottom: 2px solid rgba(18, 141, 255, 05);
}


.checkbox{
   display: inline-flex;
   height: 20px;
   align-items: center;
   margin-top: 15px;
}
.checkbox input{
   margin-right: 5px;
}
.btn-div{
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top: 15px;
}
.btn-div button{
   padding: 10px;
   width: 150px;
   font-size: 20px;
   font-weight: bold;
   background-color: #fff;
   color: rgb(27, 27, 27,.8);
   outline: none;
   border: .3px solid rgb(27, 27, 27,.4);
   border-radius: 5px;
   cursor: pointer;
   transition: .5s;
}

.btn-div button:hover{
   background-color: rgb(35, 68, 255);
   color: #fff;
}


@media screen and (max-width:1090px) {
   .img-div{
      width: 50%;
   }
   .reg-div{
      width: 50%;
      padding: 40px;
      float: right;
   }
}
@media screen and (max-width:690px) {
   .img-div{
      width: 100%;
      height: 200px;
      position: static;
      float: none;

      background-position: bottom;
   }
   .reg-div{
      width: 100%;
      padding: 30px 30px 40px 30px;
      float: none;
   }
}